body { 
    background-image:url("/img/Union.png");
    background-repeat: no-repeat;
}

.decotation__circle { 
    background-image: url("/src/img/decorat-circle.png");
    background-repeat: no-repeat;

}

