@font-face {
    font-family:'Gilroy-bolt',"Helvetica Neue", Helvetica, sans-serif;
    font-style:bold;
    src: url(/src/fonts/Gilroy-Bold.woff);
    src: url(/src/fonts/Gilroy-Bold.woff2);
}
@font-face { 
    font-family:'Gilroy-medium',"Helvetica Neue", Helvetica, sans-serif;
    font-style:medium; 
    src:url(/src/fonts/Gilroy-Medium.woff);
    src:url(/src/fonts/Gilroy-Medium.woff2);

}

@font-face { 
    font-family:'Gilroy-regular',"Helvetica Neue", Helvetica, sans-serif;
    font-style:normal; 
    src:url(/src/fonts/Gilroy-Regular.woff);
    src:url(/src/fonts/Gilroy-Regular.woff2);
} 


@font-face { 
    font-family:'Gilroy-Semibold',"Helvetica Neue", Helvetica, sans-serif;
    font-style:Semibold; 
    src:url(/src/fonts/Gilroy-Semibold.woff);
    src:url(/src/fonts/Gilroy-Semibold.woff2);
} 

