.aside__nav--logo {
    width:51px;
    height:35px;   
    margin-top:46px; 
    margin-left:auto;
    margin-right: auto;
} 
.aside_sitebar a { 
    width: 25px;
    height: 25px;
    margin:auto;
}

.aside_sitebar a:nth-child(9) { 
    border-radius: 50px;
    border: 1px solid;
    width: 60px;
    height: 30px;

}
.aside__tumbler { 
    border-radius: 50%;
    border: 5px solid #7F7FD5;
    background:#7F7FD5;
    margin:4px;
     
} 